#contact iframe
{
    width: 100%;
}

.movie_head{
    font-size: 20px;
    border-radius: 10px;
    margin-bottom:15px ;
    padding:6px 22px ;
}

.movie_head i{
    float: right;
}

.movie_text span{
    color:gold ;
}
.book{
    margin-bottom: 20px;

}
#contact iframe{
    width: 100%;
}
.travel_mainDiv img{
    width: 100%;
}
.travel_mainDiv{
    border: 1px solid goldenrod;
    padding-left: 0px;
    padding-right: 0px;
}